# Da el algoritmo para reproducir el proceso de generación de clases y sus marcas respectivo para el número de clases obtenido con la regla de la Scott en  Python.

In [45]:
import pandas as pd
import numpy as np
import math

In [42]:
crabs = pd.read_table("../data/datacrab.txt", delimiter=" ")
crabs.head()

   input  color  spine  width  satell  weight
0      1      3      3   28.3       8    3050
1      2      4      3   22.5       0    1550
2      3      2      1   26.0       9    2300
3      4      4      3   24.8       0    2100
4      5      4      3   26.0       4    2600

In [52]:
cw = crabs.width
cw

0      28.3
1      22.5
2      26.0
3      24.8
4      26.0
       ...
168    26.1
169    29.0
170    28.0
171    27.0
172    24.5
Name: width, Length: 173, dtype: float64

Calculo del numero de clases por la regla de raiz cuadrada.

In [66]:
n = len(cw)
As = 3.5*np.std(cw)*n**(-1/3)
k1 = math.ceil((max(cw)-min(cw))/As)
k1

10

Calculo de la amplitud de los intervalos.

In [67]:
A = (max(cw)-min(cw))/k1
A

1.25

In [73]:
A = 1.3

Calculo de los limites del intervalo.

In [74]:
L1 = min(cw)-(1/2)*0.1
L1

20.95

In [80]:
L = L1 + A*(np.arange(0,k1+1,1))
L

array([20.95, 22.25, 23.55, 24.85, 26.15, 27.45, 28.75, 30.05, 31.35,
       32.65, 33.95])

Calculo de las marcas de clase.

In [77]:
X1 = (L[0]+L[1])/2
X1

21.6

In [81]:
X = X1 + A*(np.arange(0,k1,1))
X

array([21.6, 22.9, 24.2, 25.5, 26.8, 28.1, 29.4, 30.7, 32. , 33.3])

# Da el algoritmo para reproducir el proceso de generación de clases y sus marcas respectivo para el número de clases obtenido con la regla de la raíz en R o en Python.

In [83]:
n = len(cw)
k1 = math.ceil(math.sqrt(n))
k1

14

In [84]:
A = (max(cw)-min(cw))/k1
A

0.8928571428571429

In [85]:
A = 0.9

In [86]:
L1 = min(cw)-(1/2)*0.1
L1

20.95

In [87]:
L = L1 + A*(np.arange(0,k1+1,1))
L

array([20.95, 21.85, 22.75, 23.65, 24.55, 25.45, 26.35, 27.25, 28.15,
       29.05, 29.95, 30.85, 31.75, 32.65, 33.55])

In [88]:
X1 = (L[0]+L[1])/2
X1

21.4

In [89]:
X = X1 + A*(np.arange(0,k1,1))
X

array([21.4, 22.3, 23.2, 24.1, 25. , 25.9, 26.8, 27.7, 28.6, 29.5, 30.4,
       31.3, 32.2, 33.1])

33.5