In [112]:
import numpy as np
import pandas as pd

In [220]:
df = pd.read_csv("../data/run.csv")
df

haceDeporte = filter( df, df["hace.deporte"] == "si")
haceDeporte

In [114]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,92.0,46.500000,26.702060,1.0,23.75,46.5,69.25,92.0
pulso.antes,92.0,72.869565,11.008705,48.0,64.00,71.0,80.00,100.0
pulso.despues,92.0,80.000000,17.093794,50.0,68.00,76.0,85.00,140.0
altura,92.0,68.717391,3.659291,61.0,66.00,69.0,72.00,75.0
peso,92.0,145.152174,23.739398,95.0,125.00,145.0,155.50,215.0

In [115]:
#Hay 92 estudiantes

In [116]:
df.groupby('genero').nunique()

,Unnamed: 0,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad
genero,,,,,,,,,
H,57,19,24,2,2,1,13,23,4
M,35,20,22,2,2,1,13,20,3

In [117]:
#Hay 57 hombres y 35 mujeres

# Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio y compara el valor de los que hacen ejercicio habitualmente y los que no. ¿Observas mucha diferencia?

In [212]:
df2 = df.rename(columns = {"Unnamed: 0":"codigo", 
                           "pulso.antes":"pulso1", 
                           "pulso.despues":"pulso2",
                           "hace.deporte":"deportista", 
                           "tipo.actividad":"actividad"})

df2

df2["varpulse"] = (df2["pulso2"] - df2["pulso1"])/df2["pulso1"]

df2

df2["varpulse"].mean()

print('La media de las vaciacion porcentual del pulso es {} %'.format(df2["varpulse"].mean()*100))

La media de las vaciacion porcentual del pulso es 10.103038788471402 %

In [215]:
df2
df2.groupby("deportista").mean()

#otra forma
# df2
# df2.groupby("deportista")["varpulse"].mean()

               codigo     pulso1     pulso2     altura        peso  varpulse
deportista
no          47.017544  72.421053  72.315789  68.065789  141.122807  0.002095
si          45.657143  73.600000  92.514286  69.778571  151.714286  0.262154

In [120]:
# Los que no hacen ejercicio tienen un variacion de pulso media muy baja de 0.2 % 
# mientras que los que hacen ejercicio tienen un porcentaje de variacion que ronda el 26%
# existiendo una diferencia significativa entre los que hacen ejercicio y los que no.

# Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio  para los estudiantes que hacen ejercicio habitualmente y compara el valor de los hombres con el de las mujeres. ¿Observas mucha diferencia?

In [177]:
# Para filtrar con base en los que hacen ejercicios y los que no, se realiza un for lopp para crear una lista en donde
# si el estudiante hace deporte, se agrega el boolean True a la lista depor. Caso contrario se agrega False.

# Luego, se transforma la lista depor a un objeto de pandas mediante la expresion depor_bools = pd.Series(depor).

# Finalmente se crea df3 teniendo como base df2[depor]. Esta expresion creara un nuevo data frame con las filas cuyos 
# valores en la columna deportista sean "si"

depor = []
for dep in df2.deportista:
    if dep == "si":
        depor.append(True)
    else:
        depor.append(False)
    
depor[0:10]

depor_bools = pd.Series(depor)

df3 = df2[depor]

print(df3.varpulse.mean())

df3.groupby("genero").mean()

0.26215407303688487

           codigo     pulso1      pulso2     altura        peso  varpulse
genero
H       38.083333  70.250000   83.208333  71.229167  162.000000  0.191769
M       62.181818  80.909091  112.818182  66.613636  129.272727  0.415722

In [ ]:
# El vaor porcentual medio de la variacion del pulso entre hombres y mujeres que hacen ejercicio es 41.5 y 19.17% 
# respectivamente, obrservandose que las mujeres tienen un aumento del pulso aproximadamente dos veces mayor que el de los hombres.

# Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio para los estudiantes que no hacen ejercicio habitualmente y compara el valor de los fumadores con los no fumadores. ¿Observas mucha diferencia?

In [191]:
nodepor = []
for dep in df2.deportista:
    if dep == "no":
        nodepor.append(True)
    else:
        nodepor.append(False)
    
nodepor[0:10]

nodepor_bools = pd.Series(nodepor)

df4 = df2[nodepor]

print(df4.varpulse.mean())

df4.groupby("fuma").mean()

0.0020947917386441124

         codigo     pulso1     pulso2     altura        peso  varpulse
fuma
no    45.512195  71.707317  71.512195  68.079268  138.195122 -0.000648
si    50.875000  74.250000  74.375000  68.031250  148.625000  0.009122

In [ ]:
# El porcentaje de variacion del pulso entre estudiantes que fuman y no es muy cercano a cero.

# Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio de todos los estudiantes según el tipo de actividad física que realizan. ¿Observas alguna diferencia?

In [203]:
df2.groupby("actividad").mean()

              codigo     pulso1     pulso2     altura        peso  varpulse
actividad
intensa    43.285714  71.571429  72.190476  69.571429  147.285714  0.013475
moderada   45.934426  72.737705  82.786885  68.377049  143.754098  0.140157
nula        1.000000  48.000000  54.000000  68.000000  150.000000  0.125000
suave      62.888889  79.555556  82.222222  69.111111  149.111111  0.037472

In [ ]:
# Los estudiantes con que realizan actividad fisica intensa o sueave presentan una variacion procentual del pulso
# de 1.3 y 3.7% respectivamente mientras que aquellos estudiantes que realizan actividades nula o moderada presentan 
# una variacion de 12.5 y 14 % respectivamente.